@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$body-font-family: 'Source Sans Pro', sans-serif;

$Colorscheme: (
    primary: black,
    secondary: red,
    tertiary: blue,
    quaternary: #FC6D2B,
    quinary: #707070,
    senary: #2BFC83,
    septenary: #FFB936,
    octonary: #FF1212,
    nonary: #cacaca,
    denary: #ffffff
);

  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
