$Colorscheme: (
    primary: black,
    secondary: red,
    tertiary: blue,
    quaternary: #FC6D2B,
    quinary: #707070,
    senary: #2BFC83,
    septenary: #FFB936,
    octonary: #FF1212,
    nonary: #cacaca,
    denary: #f34B34
);